<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}" >Home</a>
      </li>
      <li *ngIf="!ifAuthed" class="nav-item">
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Login</a>
      </li>          
      <li *ngIf="ifAuthed" class="nav-item">
        <a class="nav-link disabled" href="#">Welcome, Username</a>
      </li>
      <li *ngIf="ifAuthed" class="nav-item">
        <a class="nav-link" (click)="onLogout()" href="javascript:">Logout</a>
      </li>  
    </ul>
</nav>

