<div *ngIf="errorDescription" class="alert alert-danger" role="alert">
  {{errorDescription}}
</div>

<form (ngSubmit)="onLogin(form)" #form="ngForm">
  <div class="form-group ">
    <label for="inputUsername">Username</label>
    <input 
    type="email" 
    name="username" 
    ngModel
    #username="ngModel"
    required
    class="form-control" 
    [ngClass]="{'is-invalid': username.invalid && username.touched, 'is-valid': username.valid && username.touched}"
    id="inputUsername" 
    placeholder="Enter username">    

    <small class="text-danger" *ngIf="username.invalid && username.touched">Username field is required.</small>
  </div>

  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input 
    type="password" 
    name="password"
    ngModel
    #password="ngModel"
    required
    class="form-control" 
    [ngClass]="{'is-invalid': password.invalid && password.touched, 'is-valid': password.valid && password.touched}"
    id="inputPassword"     
    placeholder="Password">

    <small class="text-danger" *ngIf="password.invalid && password.touched">Password field is required.</small>
  </div> 
  <button type="submit" [disabled]="form.invalid || isSending" class="btn btn-primary">Submit</button>
</form>