<p>
  Welcome here. You are {{(ifAuthed) ? "Authed" : "Not Authed" }}
</p>

<div *ngIf="isPong" class="alert alert-success">Server PONG</div>

<button [disabled]="isSending" *ngIf="ifAuthed" (click)="onPingServer()" type="button" class="btn btn-success btn-lg btn-block">Ping Server</button>
